* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  /*styles for header*/
  
header {
    padding: 20px 40px;
    background-color: #A3C9A0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
  }

header h1{
    font-family: monospace;
    font-size: 3vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
  }

  header nav {
      margin: 8px;
  }

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  }

/*styles to about me*/
.about-me-section {
    display: flex;
    background-color: #DBF3DA;
    border-bottom: #A3C9A0 solid 3px;
    padding: 20px;
}
.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-size: 18px;
    margin-top: 100px;
  }

.info a {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
}
.info p {
    padding: 20px;
    bottom: 120px;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    font-size: 20px;
    background-color: #A3C9A0;
}
.info ul li {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 30px;
      font-size: 20px;
  }

.info ul li:hover {
      background-color: #A3C9A0;
  }

.photo img {
    width: 100%;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 15px;
}

.project-section h2, .skills-section h2, .contact-me h2{
    padding: 20px;
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
}

/* styles to projects */

.project-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #DBF3DA;
    border-bottom: #A3C9A0 solid 3px;
    padding: 20px;
    align-items: center;
}

.project-section img {
    border: black 10px solid;
}

.primary-site {
    width: 70%;
}

.secondary-site {
    width: 30%;
}

/* styles to skills */
.skills-section {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #DBF3DA;
   border-bottom: #A3C9A0 solid 3px;
   padding: 20px;
}

/* styles to contact me */
.contact-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #DBF3DA;
}

.contact-me li {
    list-style-type: none;
}

.contact-me a {
    text-decoration: none;
    color: black;
}

/* styles for footer */

footer {
    padding: 20px;
    background-color: #A3C9A0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a, footer h2 {
    text-decoration: none;
    color: #fff;
  }

footer div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer div ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer div ul li a:hover {
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  }